# Ignore everything (files)
*

# Keep directories (to preserve folder structure)
!*/

# Include all files in the root directory (no slashes)
!/*

# Explicitly include .gitignore itself
!.gitignore

# Exclude log files
.nextflow.log*

# Exclude directories
work/
.ipynb_checkpoints/
.nextflow/
.vscode/
src.egg-info

# Include files in specific folders:
!bin/*
!docs/*
!scripts/*
!notebooks/*
!conf/*
!src/*
__init__.pyc
!transcript_vis_app/*
transcript_vis_app/genome_gff3_gtf.csv
transcript_vis_app/SFARI_peptides.csv
!nextflow.config
!*.nf