# data files
proc/*
figures/**
data/
envs/
garbage/
results/*
export/*

# Workflow managers
.snakemake
.nextflow
conf/
work/
.nextflow.log*
nextflow_results/
nextflow.config

# macOS
.DS_Store

# .vscode
.vscode/

# python
*.egg-info/
**/__pycache__/
**.pyc

transcript_vis_app/*.csv
**.dcf

slurm_logs/*

**/.ipynb_checkpoints/

STAR_results
scripts/STAR_scripts

export/
figures/**