# Ignore Python-related files
.ipynb_checkpoints/
src.egg-info/
__pycache__
**/__init__.pyc

# Ignore VS-code related files
.vscode/

# Ignore Nextflow-related files
.nextflow.log*
work/
.nextflow/
nextflow_results/

# Ignore Slurm logs
slurm_logs/

garbage/

# Ignore raw data files
data/
export/
figures/
transcript_vis_app/genome_gff3_gtf.csv
transcript_vis_app/SFARI_peptides.csv