conda {
    enabled = true
}
process {
    withLabel: short_slurm_job {
        executor = 'slurm'
        time = "02:00:00"
        cpus = 40
    }
    withLabel: mid_slurm_job {
        executor = 'slurm'
        time = "08:00:00"
        cpus = 40
    }    
    withLabel: long_slurm_job {
        executor = 'slurm'
        time = "12:00:00"
        cpus = 40
    }
    withName: TransDecoderLongOrfs {
        container = "${NXF_SINGULARITY_CACHEDIR}/transdecoder.v5.7.1.simg"
    }
    withName: blastpTransDecoder {
        container = "${NXF_SINGULARITY_CACHEDIR}/transdecoder.v5.7.1.simg"
    }
    withName: hmmSearch {
        container = "${NXF_SINGULARITY_CACHEDIR}/transdecoder.v5.7.1.simg"
    }
    withName: transDecoderPredict {
        container = "${NXF_SINGULARITY_CACHEDIR}/transdecoder.v5.7.1.simg"
    }
    withName: cdnaAlignmentOrfToGenome {
        container = "${NXF_SINGULARITY_CACHEDIR}/transdecoder.v5.7.1.simg"
    }
    withName: extractORFanageTranslationFasta {
        container = "${NXF_SINGULARITY_CACHEDIR}/agat_1.0.0--pl5321hdfd78af_0.sif"
    }
    withName: sqantiProtein {
        container = "${NXF_SINGULARITY_CACHEDIR}/sqanti_protein.sif"
    }
    withName: fixORFanageFormat {
        container = "${NXF_SINGULARITY_CACHEDIR}/agat_1.0.0--pl5321hdfd78af_0.sif"
    }
    withName: extractORFanageCdsFasta {
        container = "${NXF_SINGULARITY_CACHEDIR}/agat_1.0.0--pl5321hdfd78af_0.sif"
    }
    withName: extractORFanageTranslationFasta {
        container = "${NXF_SINGULARITY_CACHEDIR}/agat_1.0.0--pl5321hdfd78af_0.sif"
    }    
}

apptainer {
    enabled = true
    autoMounts = true
}