params {
    outdir = "/scratch/s/shreejoy/nxu/SFARI/nextflow_results"
    input = "data"
    custom_config_version = "master"
    custom_config_base = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    show_hidden_params = false
    schema_ignore_params = ["params.custom_config_version", "params.custom_config_base", "params.show_hidden_params", "params.schema_ignore_params"]
}

manifest {
    name = "SFARI_isoseq"
    description = "Nextflow pipeline for processing Iso-Seq data"
    version = "0.1.0"
    nextflowVersion = ">=23.04.1"
    homePage = "https://github.com/nuoxuxu/SFARI"
}

conda {
    enabled = true
}

apptainer {
    enabled = true
    autoMounts = true
}

// process {
//     withName: extractORFanageTranslationFasta {
//         container = "${NXF_SINGULARITY_CACHEDIR}/agat_1.0.0--pl5321hdfd78af_0.sif"
//     }
//     withName: sqantiProtein {
//         container = "${NXF_SINGULARITY_CACHEDIR}/sqanti_protein.sif"
//     }
//     withName: fixORFanageFormat {
//         container = "${NXF_SINGULARITY_CACHEDIR}/agat_1.0.0--pl5321hdfd78af_0.sif"
//     }
//     withName: extractORFanageCdsFasta {
//         container = "${NXF_SINGULARITY_CACHEDIR}/agat_1.0.0--pl5321hdfd78af_0.sif"
//     }
//     withName: extractORFanageTranslationFasta {
//         container = "${NXF_SINGULARITY_CACHEDIR}/agat_1.0.0--pl5321hdfd78af_0.sif"
//     } 
// }

profiles {
    niagara {
        process {
            cpus = 1
            memory = ""
            time = "02:00:00"
            withLabel: short_slurm_job {
                executor = 'slurm'
                time = "02:00:00"
                cpus = 40
            }
            withLabel: mid_slurm_job {
                executor = 'slurm'
                time = "08:00:00"
                cpus = 40
            }    
            withLabel: long_slurm_job {
                executor = 'slurm'
                time = "12:00:00"
                cpus = 40
            }
            withName: SALMON_INDEX {
                executor = 'slurm'
                time = "2:00:00"
                cpus = 40        
            }
            withName: SALMON_QUANT {
                executor = 'slurm'
                time = "2:00:00"
                cpus = 40        
            }            
        }
    }
    narval {
        process {
            cpus = 1
            memory = ""
            time = "02:00:00"
            withLabel: short_slurm_job {
                executor = 'slurm'
                time = "01:00:00"
                cpus = 16
                memory = "20GB"
            }
            withLabel: mid_slurm_job {
                executor = 'slurm'
                time = "08:00:00"
                cpus = 16
                memory = "45GB"
            }    
            withLabel: long_slurm_job {
                executor = 'slurm'
                time = "12:00:00"
                cpus = 16
                memory = "45GB"
            }
            withName: SALMON_INDEX {
                executor = 'slurm'
                time = "2:00:00"
                cpus = 32
                memory = "40GB"
            }
            withName: SALMON_QUANT {
                executor = 'slurm'
                time = "2:00:00"
                cpus = 32
                memory = "40GB"
            }
        }
    }
}