params {
    annotation_gtf = "/project/s/shreejoy/Genomic_references/GENCODE/gencode.v39.annotation.gtf"
    translation_fasta = "/project/s/shreejoy/Genomic_references/GENCODE/gencode.v39.pc_translations.fa"
    genome_fasta = "/project/s/shreejoy/Genomic_references/GENCODE/GRCh38.primary_assembly.genome.fa"
    params.min_reads = 5
    params.min_n_sample = 2
    output_dir = "/scratch/s/shreejoy/nxu/SFARI/nextflow_results/v39"
}