params {
    annotation_gtf = "/project/s/shreejoy/Genomic_references/GENCODE/gencode.v47.annotation.gtf"
    translation_fasta = "/project/s/shreejoy/Genomic_references/GENCODE/gencode.v47.pc_translations.fa"
    genome_fasta = "/project/s/shreejoy/Genomic_references/GENCODE/GRCh38.primary_assembly.genome.fa"
    transcript_fasta = "/project/s/shreejoy/Genomic_references/GENCODE/gencode.v47.transcripts.fa"
    output_dir = "/scratch/s/shreejoy/nxu/SFARI/nextflow_results/V47"
}