params {
    annotation_gtf = "/project/s/shreejoy/Genomic_references/GENCODE/gencode.v47.annotation.gtf"
    translation_fasta = "/project/s/shreejoy/Genomic_references/GENCODE/gencode.v47.pc_translations.fa"
    genome_fasta = "/project/s/shreejoy/Genomic_references/GENCODE/GRCh38.primary_assembly.genome.fa"
    transcript_fasta = "/project/s/shreejoy/Genomic_references/GENCODE/gencode.v47.transcripts.fa"
    params.min_reads = 5
    params.min_n_sample = 2
    params.mzXMLfiles = "/scratch/s/shreejoy/nxu/SFARI/data/tc-1154/*.mzXML"

    params.polyA_site = "/scratch/s/shreejoy/nxu/SFARI/data/atlas.clusters.2.0.GRCh38.96.bed"
    params.refTSS = "/scratch/s/shreejoy/nxu/SFARI/data/refTSS_v3.3_human_coordinate.hg38.sorted.bed"
    searchDB = "hybrid"
    comet_params = "/scratch/s/shreejoy/nxu/SFARI/data/comet.params"
    datadir = "/scratch/s/shreejoy/nxu/SFARI/data/"
    orf_prediction = "orfanage"    

    output_dir = "/scratch/s/shreejoy/nxu/SFARI/nextflow_results/V47"
}