params {
    annotation_gtf = "/project/s/shreejoy/Genomic_references/GENCODE/gencode.v47.annotation.gtf"
    translation_fasta = "/project/s/shreejoy/Genomic_references/GENCODE/gencode.v47.pc_translations.fa"
    genome_fasta = "/project/s/shreejoy/Genomic_references/GENCODE/GRCh38.primary_assembly.genome.fa"
    transcript_fasta = "/project/s/shreejoy/Genomic_references/GENCODE/gencode.v47.transcripts.fa"
    params.min_reads = 5
    params.min_n_sample = 2

    searchDB = "hybrid"
    comet_params = "/scratch/s/shreejoy/nxu/SFARI/data/comet.params"
    datadir = "/scratch/s/shreejoy/nxu/SFARI/data/"
    orf_prediction = "orfanage"    

    output_dir = "/scratch/s/shreejoy/nxu/SFARI/nextflow_results/V47"
}